.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  background: #002633;
  color: #fff;
}
#otherResearchArea{
  display: none;
}
#content-wrapper{
  padding:15px 25px;
}
.alert-danger{
  background-color: #FF0000;
  color: #FFFFFF;
  text-align: center;
}

.alert-success{
  background-color: #105D22;
  color: #FFFFFF;
  text-align: center;
}

.badge{
  margin-left: 25px;
  font-size: 14px;
  background-color: #2F76A5;
}
#tbContainer{

}
.search-form{
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.search-form input{
  color: #fff;
  border: 1px solid #fff;
  background-color: transparent !important;
  /*border: none !important;*/
}
#latest-box{
  overflow-x: auto;
  max-height: calc(100vh)
}
.box-title{
  /*border:3px solid black;*/
  background: #002633;
  color: #fff;
  margin-bottom: 5px;
}
.citation-search{
  border-bottom: 0.5px solid #002633;
  border-left:4px solid #002633;
  padding: 5px 10px;
  margin-top: 5px;
}
.citation a:hover{color: black;}
.citation{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  /*border-radius: 5px;*/
  box-shadow:1px 1px 2px #002633;
  border-left:4px solid #002633;
  padding: 5px 10px;
  margin-top: 15px;
}
#centers-box{
/*  border:1px solid red;*/
}
.nimr-center{
  /*border:1px solid #002633;*/
  /*padding: 15px;*/
  /*margin-bottom: 10px;*/
  text-transform: uppercase;
  font-size: 1.4em;
}
.statistics{
  text-align: center;
  min-height: 360px;
  border: 1px solid #b6b6b6;
  margin-top: 50px;
  padding-top: 60px;
}
.nimr-center:hover{
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  background: #002633;
  color: #fff;
}
.cActive{
  padding-left: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 2px;
  background: #002633;
  color: #fff;
}
.min-robo h1{
  text-align: center;
  padding-top: 4em;
}
.min-robo{
  min-height: calc(70vh);
}
/*for form*/
form.loginForm input{
  /*background: rgba(0, 0, 0, 0.03) none repeat scroll 0 0;*/
  border: 1px solid black;
  padding:5px 25px;
  height: 50px;
}
form.register-box{
  padding: 20px;
}
.register-section{
  min-height: calc(100vh);
}
.form-box{
  margin-top: calc(10vh);
}
.register-box{
  border-radius: 15px;
  background: #fff;
}
span.icon-minus{
  color: red;
  font-size: 1.3em;
  /*font-weight: bolder;*/
  padding: 3px;
  border-radius: 50%;
}
span.icon-minus:hover{
  font-weight: bolder;
}
span.icon-plus{
  color:#002633;
  font-size: 1.3em;
  padding: 3px;
  border-radius: 50%;
}
span.icon-plus:hover{
  color:#fff;
  background: #002633;
  /*border: 1px solid green;*/
/*  padding: 3px;
  border-radius: 50%;*/
}
span.ion-minus:hover{
  background: red;
}
.tokeza{
  margin-top: calc((70vh) - 100vh);
  background: #fff;
  border-top-radius: 5px;
  padding-top: 15px;
  padding-bottom: 25px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.tokeza-home{
  /*margin-top: calc((50vh) - 100vh);*/
  background: #fff;
  border-top-radius: 5px;
  padding-top: 15px;
  padding-bottom: 125px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.tab-content{
  padding-top: 15px;
}
.uploader{
  border-left:2px solid #000;
  padding: 15px;
}
.top-border{
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}
#publication-abstract{
  height: calc(70vh);
  text-overflow: scroll;
}
textarea{
  resize: vertical;
  min-height: 100px;
}
#moreInfo{
  font-size: 1.6em;
}
.footer p{
  color: white;
  line-height: 25px;
}

button.search-btn {
    margin-top:10px;
    box-sizing: border-box;
    border-top: 1px solid #ccc;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    padding: 10px 10px 8px 10px;
    background-color: #b6b6b6;
    display: none;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action:manipulation;
    cursor: pointer;
}
input.search[type=text] {
    margin-top:10px;
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    color: #fff;
    /*font-size: 16px;*/
    background-color: transparent;
    /*background-image: url('searchicon.png');*/
    /*background-position: 10px 10px; */
    /*background-repeat: no-repeat;*/
    padding: 10px 10px 8px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input.search[type=text]:focus {
    width: 100%;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #002633;
}
.pagination>li>a, .pagination>li>span {
/*  position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;*/
    border: 1px solid #ddd;
}
a.found b{
  color: #002633;
}
.btn-primary {
background-color: #002633;
}

.letter-box{
    box-shadow:1px 1px 2px #002633;
    border-left:4px solid #002633;
    padding: 2px 10px;
    margin-top: 15px;
}
.letter-box h3.title{
    text-transform: uppercase;
    color: #002633;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    -moz-text-decoration-line: underline;
}
input.searchPubs[type=text]:focus {
  width: 100%;
  padding: 5px;
}